body{
    background-color: rgb(127, 137, 141);
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
h1{
    text-align: center;
}
a{
    font-style: oblique;
    color: rgb(23, 23, 24);
}
div.collapse.navbar-collapse{
    background-color: rgb(127, 137, 141);
    text-align: center;
    align-content: center;
}
img{
    float: right;
    margin-right: 5%;
}
p.text-justify{
    float: left;
    width: 50%;
    font-size: x-large;
}
h2{
    text-align: center;
}
div.textoC{
    font-size: large;
    margin: 3%;
}
div.formulario{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    text-align: left;
    align-content: center;
}
div.izquierda{
    float: left;
    width: 50%;
}
div.derecha{
    float: right;
    width: 40%;
    margin: 3%;
}
div.item{
    margin-bottom: 5%;
}
